!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:href => "/stylesheets/application.css", :rel => "stylesheet"}
  %body
    .container
      %header
        %h1.logo 80beans
        %nav
          %ul
            %li
              %a{:href => "/"} Home
            %li
              %a{:href => "/development/"} Development
            %li
              %a{:href => "/front-end/"} Front-End
            %li
              %a{:href => "/about-us/"} About Us
            %li
              %a{:href => "/contact/"} Contact
      %section.content
        = yield
    %script{:src => "js/main.js"}
